[Unit]
Description=Shutters Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
NotifyAccess=main
User=bengo
Group=gpio
WorkingDirectory=/opt/shutters-service
ExecStart=/opt/shutters-service/shutters-service
Restart=on-failure
RestartSec=5
LimitNOFILE=4096
EnvironmentFile=/etc/shutter_env

[Install]
WantedBy=multi-user.target
