[Unit]
Description=Shutters Service
After=network.target

[Service]
Type=simple
NotifyAccess=main
User=shutters
Group=shutters
WorkingDirectory=/opt/shutters-service
ExecStart=/opt/shutters-service/shutters-service
Restart=on-failure
RestartSec=5
LimitNOFILE=4096
EnvironmentFile=/etc/shutter_env

[Install]
WantedBy=multi-user.target
